.App {
  text-align: center;
  background-color: #282c34;
  min-height: 60em;
}

.main-header-div {
  padding-top: 2.5em;
}

.App-logo-div {
  padding: 4em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
